- var pageTitle="index"
doctype html
html(lang="en")
    include ./includes/head.jade
    body
        include ./includes/header.jade
        h1 Pug - node template engine
        #container.col
            if youAreUsingPug
                p You are amazing
            else
                p Get on it!
                p.
                    Pug is a terse and simple templating language with a
                    strong focus on performance and powerful features.
        include ./includes/footer.jade