//copyright
.container(style="margin-top: 30px;")
    .row
        .col-md-12
            ul(class="list-inline list-unstyled")
                li Copyright hypermedia &copy; 2016!
                li
                    a(href="#" style="color:blue") Credits
                li
                    a(href="#" style="color:blue") Terms
                li
                    a(href="#" style="color:blue") Privacy


// javascript
br
br
script(src='js/app.js')