//copyright
//.container(style="margin-top: 50px;")
    .row
        .col-md-12
            ul(class="list-inline list-unstyled")
                li Copyright hypermedia &copy; 2016!
                li
                    span(style="color:blue; cursor: pointer;") Credits
                li
                    span(style="color:blue; cursor: pointer;") Terms
                li
                    span(style="color:blue; cursor: pointer;") Privacy


// javascript
br
br
script(src='js/app.js')