-
    mainMenu = [{name: 'For investors', link: 'investors.html'},
    {name: 'Business&Markets', link: 'business.html'},
    {name: 'Governance', link: 'governance.html'}]

include header_static.jade
