-
    headMenu = [{name: 'Who we are', link: 'who-we-are.html'},
    {name: 'The group', link: 'the-group.html'}]
-
    mainMenu = [{name: 'Devices', link: 'devices.html'},
    {name: 'Smart life services', link: 'services.html'},
    {name: 'Assistance', link: 'assistance.html'}]

mixin menu-item(name, link)
    li&attributes(attributes)
        a(href=link) #{name}

//head menu
ul#head-menu
    each item, i in headMenu
        if headMenuSelected == item.name
            +menu-item(item.name, item.link)(class='selected')
        else
            +menu-item(item.name, item.link)

//main menu
ul#main-menu
    each item, i in mainMenu
        if mainMenuSelected == item.name
            +menu-item(item.name, item.link)(class='selected')
        else
            +menu-item(item.name, item.link)

//location menu
ul
    li(v-for="location in locations")
        a("v-bind:href"="location.url") {{ location.name }}