-
    mainMenu = [{name: 'For investors', link: 'investors.html'},
    {name: 'Business&Markets', link: 'business.html'},
    {name: 'Governance', link: 'governance.html'}]

include header.jade

nav.navbar.top-middle-nav
    .container
        .navbar-header
            a.navbar-brand(href='index.html')
                img(src='img/static/app-logo.jpeg',alt='Verizon', class="")
            button.navbar-toggle.collapsed.app-header_hamburger-menu(data-toggle='collapse', data-target='#indexNavigation')
                i.material-icons menu

        .collapse.navbar-collapse#indexNavigation
            ul.nav.navbar-nav
                each item, i in mainMenu
                    if mainMenuSelected == item.name
                        +menu-item(item.name, item.link)(class='selected')
                    else
                        +menu-item(item.name, item.link)




