-
    headMenu = [{name: 'Who we are', link: 'who-we-are.html'},
    {name: 'The group', link: 'the-group.html'}]
-
    mainMenu = [{name: 'Devices', link: 'devices.html'},
    {name: 'Smart life services', link: 'services.html'},
    {name: 'Assistance', link: 'assistance.html'}]

mixin menu-item(name, link)
    li&attributes(attributes)
        a(href=link) #{name}

//head menu
//-ul#head-menu
    each item, i in headMenu
        if headMenuSelected == item.name
            +menu-item(item.name, item.link)(class='selected')
        else
            +menu-item(item.name, item.link)-//

nav.top-nav
    .container
        .row
            .col-md-12
                ul#head-menui.list-inline.list-unstyled
                    each item, i in headMenu
                        if headMenuSelected == item.name
                            +menu-item(item.name, item.link)(class='selected')
                        else
                            +menu-item(item.name, item.link)
//main menu
br

nav.navbar.top-middle-nav
    .container
        .navbar-header
            a.navbar-brand(href='index.html')
                img(src='img/static/app-logo.jpeg',alt='Verizon', class="")


        .collapse.navbar-collapse
            ul.nav.navbar-nav
                each item, i in mainMenu
                    if mainMenuSelected == item.name
                        +menu-item(item.name, item.link)(class='selected')
                    else
                        +menu-item(item.name, item.link)
//-ul#main-menui
    each item, i in mainMenu
        if mainMenuSelected == item.name
            +menu-item(item.name, item.link)(class='selected')
        else
            +menu-item(item.name, item.link)

//location menu




