//main menu
mixin main(name, link)
    li
        a(href=link) #{name}

ul#main
    +main("Devices", "/devices.html")
    +main("Smart life services", "/smart-life.html")
    +main("Assistance", "/assistance.html")

//location menu
ul
    li(v-for="location in locations")
        a("v-bind:href"="location.url") {{ location.name }}