include ./config.jade
head
    title= pageTitle
    //css
    link(href="css/app-less.css", rel="stylesheet")
    link(href="css/app-sass.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //meta(http-equiv="Content-Security-Policy" content="script-src * 'unsafe-eval'; connect-src * 'unsafe-eval'; object-src 'self'; style-src * 'unsafe-inline'; img-src *")
