Header always set Access-Control-Allow-Origin "*"
Header Content-Type: charset=utf-8

RewriteEngine On

RewriteCond     %{SERVER_PORT} ^80$
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]