- var pageTitle="Assistance details"
- var mainMenuSelected='Assistance'

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_static.jade
        assistance-details(inline-template "v-bind:locations.sync"="locations")
            div(class="error") {{ error }}
            p assistance info {{parsedData.name}}
            div("v-html"="parsedData.description |customTags | marked | realUrls")
        include ../includes/footer.jade