- var pageTitle="Device details"
- var mainMenuSelected='Devices'

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_dynamic.jade
        include ../includes/breadcrumb.jade
        br
        br
        device(inline-template "v-bind:locations.sync"="locations")
            div(class="error") {{ error }}
            .container
                .row
                    .col-md-6.text-right.col-sm-6.col-xs-12
                        img("v-bind:src"="parsedData.img[0]", class="app-device__head-img")
                        ul.list-unstyled.list-inline.app-device__head-miniatures.text-center
                            li
                                img("v-bind:src"="parsedData.img[0]")
                            li
                                img("v-bind:src"="parsedData.img[1]")
                    .col-md-6.col-sm-6.col-xs-12
                        .row
                            .col-md-12.col-sm-12.col-xs-6
                                h4 {{parsedData.brand}}
                                h3 {{parsedData.name}}
                                p.app-device__head-desc {{parsedData.short_description}}
                                ul.list-unstyled.list-inline.hidden-xsmall
                                    li
                                        h3.app-device__head-price {{parsedData.price}} &euro;
                                    li.app-device__head-colors
                                        ul.list-unstyled.list-inline
                                            li("v-for"="color in parsedData.colors")
                                                span("v-bind:style"="'background-color:'+color+'; width: 20px; height:20px; display: block; border:1px solid rgba(0,0,0,.2)'") &nbsp;
                                button.app-button.app-button--big.hidden-xs BUY

                            .col-md-12.col-sm-12.col-xs-6
                                .app-device__head-links
                                    h5 Smartlife services
                                    p(data-toggle="modal" data-target="#smartlife")
                                        i.material-icons chevron_right
                                        | Discover addable smartlife services

                                .app-device__head-links
                                    h5 Assistance
                                    p(data-toggle="modal" data-target="#assistance")
                                        i.material-icons chevron_right
                                        | Get assistance for this device
                                ul.list-unstyled.list-inline.hidden-small(style="margin-top:5px")
                                    li
                                        h3.app-device__head-price {{parsedData.price}} &euro;
                                    li.app-device__head-colors
                                        ul.list-unstyled.list-inline
                                            li("v-for"="color in parsedData.colors")
                                                span("v-bind:style"="'background-color:'+color+'; width: 20px; height:20px; display: block; border:1px solid rgba(0,0,0,.2)'") &nbsp;
                                button.app-button.app-button--big.hidden-small BUY
                br
                br
                br
                br
                .row
                    .col-md-12.text-center
                        ul.list-unstyled.list-inline.app-device__content-nav(role="tab-list")
                            li.active(role="presentation")
                                a(href="#presentation",role="tab",data-toggle="tab") Presentation
                            li(role="presentation")
                                a(href="#specs", role="tab", data-toggle="tab") Specifications

                br
                br
                .tab-content
                    .row.tab-pane.active.fade.in#presentation(role="tabpanel")
                        .col-md-12
                            .row(v-for="(index,section) in presentationSections", "v-bind:class"="{'app-device__section': true, 'app-device__section--type-one':index===1, 'app-device__section--type-two':index===2}")
                                .col-md-6.col-sm-6.col-xs-12.text-center(v-if="index===0 || index ===2")
                                    img("v-bind:src"="section.image", class="app-device__section-img")
                                .col-md-6.col-sm-6.col-xs-12("v-bind:class"="{'text-right':index===1}")
                                    .app-device__section-text
                                        h2 {{section.title}}
                                        p {{section.content}}
                                .col-md-6.col-sm-6.col-xs-12.text-center(v-if="index===1")
                                    img("v-bind:src"="section.image", class="app-device__section-img")


                    .row.tab-pane.fade#specs(role="tabpanel")
                        .col-md-12
                            h2.app-device__specs-heading  Specifications
                            table.table.app-device__specs-table
                                thead
                                tbody
                                    tr(v-for="spec in specs")
                                        td {{spec.title}}
                                        td {{spec.content}}



            .modal.fade(tabindex='-1', role='dialog',id='smartlife')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span.material-icons(aria-hidden='true') clear
                            h4.app-modal__pre {{parsedData.brand+' '+parsedData.name}}
                            h3.app-modal__title Addable Smartlife Services
                        .modal-body
                            ul.list-unstyled.app-modal__items
                                li("v-for"="service in services")
                                    a.clearfix("v-bind:href"="'service.html#'+service.id")
                                        span {{service.name}}
                                        i.material-icons chevron_right


            .modal.fade(tabindex='-1', role='dialog',id='assistance')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span.material-icons(aria-hidden='true') clear
                            h4.app-modal__pre {{parsedData.brand+' '+parsedData.name}}
                            h3.app-modal__title Assistance
                        .modal-body
                            ul.list-unstyled.app-modal__items
                                li("v-for"="assistance_item in assistance")
                                    a.clearfix("v-bind:href"="'assistance-details.html#'+assistance_item.id")
                                        span {{assistance_item.name}}
                                        i.material-icons chevron_right
        include ../includes/footer.jade