- var pageTitle="Devices"
- var mainMenuSelected='Devices'

mixin devices()
    div.col-md-4(v-for="device in devicesFiltered")
        a.app-devices__device.text-center("v-bind:href"="'device.html#'+device.id")
            img("v-bind:src"="device.img[0]")
            h4.app-devices__device-brand {{device.brand}}
            h4 {{device.name}}
            ul.list-unstyled
                li sadsada
            br
            ul.list-unstyled.list-inline
                li
                    span.app-devices__device-color-label COLORS&nbsp;&nbsp;
                li
                    ul.list-unstyled.list-inline
                        li(v-for="color in device.colors")
                            span(style="background-color:{{color}}; width: 20px; height: 20px; display:block; border: 1px solid rgba(0,0,0,.2)") &nbsp;
            h3 {{device.price}}&euro;



        ul.list-unstyled
            li(v-for="device in devicesFiltered")
                a("v-bind:href"="'device.html#'+device.id") {{device.name}} {{device.price}}
mixin filters()
    .col-md-12.text-center.app-devices__filters
        ul.list-unstyled.list-inline
            li(v-for="(filtersKey, filters) in content.filters")
                div(v-if="filters != null", class="dropdown")
                    p.dropdown-toggle(data-toggle="dropdown") {{filtersKey}}&nbsp;&nbsp;
                        i.material-icons expand_more
                    ul.list-unstyled.app-devices-filters__section-content.dropdown-menu
                        li(v-for="filter in filters")
                            a("v-on:click"="filterClicked(filter, filtersKey, $event)" href="#") {{filterText(filter, filtersKey)}}
                div(v-else)
                    a("v-on:click"="specialFilterClicked(filtersKey, $event)" href="#") {{filtersKey}}
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        include ../includes/breadcrumb.jade
        br
        devices(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                //sub menu
                .row
                    .col-md-12
                        ul(class="nav nav-tabs app-home__principal-links app-devices-nav")#sub
                            li(v-for="type in types", class="app-home__principal-link")
                                a("v-bind:href"="type.url" data-toggle="tab" class="app-home__principal-link--img-link" style="padding:0")
                                    img("v-bind:src"="type.img", class="app-home__principal-link--img" )
                                    span(class="app-home__principal-link--text" style="padding:0") {{type.name}}

                //div(class="error") {{ error }}
                br
                br
                .row
                    +filters()
                .row
                    .col-md-12
                        div(class="tab-content")
                            div("v-bind:id"="type.name.toLowerCase()" class="tab-pane fade row" v-for="type in types")
                                .col-md-12
                                    +devices()
        include ../includes/footer.jade