- var pageTitle="devices"
- var mainMenuSelected='Devices'

mixin devices()
    div(class="devices")
        ul
            li(v-for="device in devicesFiltered")
                a("v-bind:href"="'device.html#'+device.id") {{device.name}} {{device.price}}
mixin filters()
    div(class="filters")
        ul
            li(v-for="(filtersKey, filters) in content.filters")
                div(v-if="filters != null") Filter by {{filtersKey}}
                    ul
                        li(v-for="filter in filters")
                            a("v-on:click"="filterClicked(filter, filtersKey, $event)" href="#") {{filterText(filter, filtersKey)}}
                div(v-else)
                    a("v-on:click"="specialFilterClicked(filtersKey, $event)" href="#") {{filtersKey}}
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        devices(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                //sub menu
                .row
                    .col-md-12
                        ul(class="nav nav-tabs app-home__principal-links app-devices-nav")#sub
                            li(v-for="type in types", class="app-home__principal-link")
                                a("v-bind:href"="type.url" data-toggle="tab" class="app-home__principal-link--img-link")
                                    img(src="img/{{type.name}}-icon.png", class="app-home__principal-link--img")

                                a(class="app-home__principal-link--text") {{type.name}}
                div(class="error") {{ error }}
                div(class="tab-content")
                    div("v-bind:id"="type.name.toLowerCase()" class="tab-pane fade" v-for="type in types")
                        p {{type.name}}
                        +filters()
                        +devices()
        include ../includes/footer.jade