- var pageTitle="devices"
mixin devices()
    div(class="devices")
        ul
            li(v-for="device in devicesFiltered") {{device.name}} {{device.price}}
mixin filters()
    div(class="filters")
        ul
            li(v-for="(filtersKey, filters) in content.filters")  Filter by {{filtersKey}}
                ul
                    li(v-for="filter in filters")
                        a("v-on:click"="filterClicked(filter, filtersKey, $event)" href="#") {{filterText(filter, filtersKey)}}
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        devices(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                //sub menu
                ul(class="nav nav-tabs")#sub
                    li(v-for="type in types")
                        a("v-bind:href"="type.url" data-toggle="tab") {{type.name}}
                div(class="error") {{ error }}
                div(class="tab-content")
                    div("v-bind:id"="type.name.toLowerCase()" class="tab-pane fade" v-for="type in types")
                        p {{type.name}}
                        +filters()
                        +devices()

include ../includes/footer.jade