- var pageTitle="devices"
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        devices(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                //sub menu
                ul(class="nav nav-tabs")#sub
                    li(v-for="type in types")
                        a("v-bind:href"="type.url" data-toggle="tab") {{type.name}}
                div(class="error") {{ error }}
                div(class="tab-content")
                    mixin filters()
                        div(class="filters")
                            ul
                                li(v-for="filter in content.filters") {{filter.name}}
                    mixin devices()
                        div(class="devices")
                            ul
                                li(v-for="device in content.devices") {{device.name}}
                    div("v-bind:id"="type.name.toLowerCase()" class="tab-pane fade" v-for="type in types")
                        p {{type.name}}
                        +filters()
                        +devices()

include ../includes/footer.jade