- var pageTitle="devices"
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        devices(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                //sub menu
                mixin sub-menu(name, link)
                    li&attributes(attributes)
                        a(href=link data-toggle="tab") #{name}

                ul(class="nav nav-tabs")#sub
                    +sub-menu("Smartphones", '#smartphones')(class="active")
                    +sub-menu("Tablets", '#tablets')
                    +sub-menu("Wearables", '#wearables')
                    +sub-menu("Outlet", '#outlet')
                div(class="error") {{ error }}
                div(class="tab-content")
                    mixin filters()
                        div(class="filters")
                            ul
                                li(v-for="filter in content.filters") {{filter.name}}
                    mixin devices()
                        div(class="devices")
                            ul
                                li(v-for="device in content.devices") {{device.name}}
                    div(class="tab-pane fade in active")#smartphones
                        p smartphones
                        +filters()
                        +devices()
                    div(class="tab-pane fade")#tablets
                        p tablets
                        +filters()
                        +devices()
                    div(class="tab-pane fade")#wearables
                        p Wearables
                        +filters()
                        +devices()
                    div(class="tab-pane fade")#outlet
                        p Outlet
                        +filters()
                        +devices()

include ../includes/footer.jade