- var pageTitle="Device details"
- var mainMenuSelected='Devices'

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        include ../includes/breadcrumb.jade
        br
        br
        device(inline-template "v-bind:locations.sync"="locations")
            div(class="error") {{ error }}
            .container
                .row
                    .col-md-6.text-right
                        img("v-bind:src"="parsedData.img[0]", class="app-device__head__img")
                        ul.list-unstyled.list-inline.app-device__head__miniatures.text-center
                            li
                                img("v-bind:src"="parsedData.img[0]")
                            li
                                img("v-bind:src"="parsedData.img[1]")
                    .col-md-6
                        h4.app-device__head__title {{parsedData.brand}}
                        h3.app-device__head__title {{parsedData.name}}
                        p.app-device__head__desc {{parsedData.short_description}}
                        ul.list-unstyled.list-inline
                            li
                                h3.app-device__head__price {{parsedData.price}} &euro;
                            li.app-device__head__colors
                                ul.list-unstyled.list-inline
                                    li("v-for"="color in parsedData.colors")
                                        span(style="background-color:{{color}}; width: 20px; height:20px; display: block") &nbsp;
                        button.app-button.app-button--big BUY
                        .app-device__head__links
                            h5 Smartlife services
                            p
                                i.material-icons chevron_right
                                | Discover addable smartlife services

                        .app-device__head__links
                            h5 Assistance
                            p
                                i.material-icons chevron_right
                                | Get assistance for this device
                br
                br
                br
                br
                .row
                    .col-md-12.text-center
                        ul.list-unstyled.list-inline.app-device__content-nav
                            li.selected Presentation
                            li Specifications

                br
                br
                .row#presentation
                    .col-md-12.app-device__content
                        .row(v-for="(index,section) in presentationSections", "v-bind:class"="{'app-device__content__section': true, 'app-device__content__section--type-one':index===1, 'app-device__content__section--type-two':index===2}")
                            .col-md-6.text-center(v-if="index")
                                img("v-bind:src"="section.image", class="app-device__content__section__img")
                            .col-md-6
                                h2.app-device__content__section__title {{section.title}}
                                p.app-device__content__section__text {{section.content}}


                .row#specs
                    .col-md-12
                        h2.app-device__content__specs__heading  Specifications
                        table.table.app-device__content__specs__table
                            thead
                            tbody
                                tr(v-for="spec in specs")
                                    td {{spec.title}}
                                    td {{spec.content}}


        include ../includes/footer.jade