- var superSectionSelected="Consumer"
mixin item(name, link, img)
  li(class="app-home__principal-link")
      a(href=link, class="app-home__principal-link--img-link")
          img(src=img, class="app-home__principal-link--img")

      a(href=link, class="app-home__principal-link--text") #{name}
//
- var pageTitle="index"
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_dynamic.jade
        index(inline-template "v-bind:locations.sync"="locations")


            .container
                .row
                    .col-md-12
                        ul(class="app-home__principal-links list-unstyled")
                            +item("Devices", "devices.html","img/static/devices-icon.png")
                            +item("Smart life services", "services.html","img/static/services-icon.png")
                            +item("Assistance", "assistance.html","img/static/assistance-icon.png")

                br
                br
                br
                br
                .row
                    .col-md-12
                        #promotion-devices.carousel.slide(data-ride='carousel')
                            // Wrapper for slides
                            .carousel-inner(role='listbox')
                                .item.active(v-for="device in promotionsDevice")
                                    .row
                                        .col-md-6.col-sm-6.col-xs-12
                                            div.carousel__img-container
                                                img("v-bind:src"="device.img", alt='...')

                                        .col-md-6.col-sm-6.col-xs-12
                                            div.carousel__text-container
                                                h2 {{device.title}}
                                                p {{device.description}}
                                                a("v-bind:href"="'device.html#'+device.id")
                                                    button.app-button.app-button--big Check it out


                            // Controls
                            a.left.carousel-control(href='#promotion-devices', role='button', data-slide='prev')(v-if="devices.length > 0")
                                i.material-icons(aria-hidden='true') chevron_left
                                span.sr-only Previous
                            a.right.carousel-control(href='#promotion-devices', role='button', data-slide='next')(v-if="devices.length > 0")
                                i.material-icons(aria-hidden='true') chevron_right
                                span.sr-only Next

                            ol.carousel-indicators
                                li.active(data-target='#promotion-devices', data-slide-to='0')
                                li(data-target='#promotion-devices', data-slide-to='{{index}}')(v-for="bullet in promotionDevice")(v-if="index!==0")



                .row.app-home__services-promotion
                    h2 Enjoy our services at great price
                    .col-md-4.col-sm-4.col-xs-12(v-for="service in promotionsService")
                        .app-home__service-promotion.text-center.row
                            .col-md-12.col-sm-12.col-xs-6
                                img("v-bind:src"="service.img")
                            .col-md-12.col-xs-6.col-sm-12
                                h3 {{service.title}}
                                p {{service.description}}
                                a("v-bind:href"="'service.html#'+service.id")
                                    button.app-button Check it out








        include ../includes/footer.jade