
mixin item(name, link, img)
  li(class="app-home__principal-link")
      a(href=link, class="app-home__principal-link--img-link")
          img(src=img, class="app-home__principal-link--img")

      a(href=link, class="app-home__principal-link--text") #{name}
//
- var pageTitle="index"
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        index(inline-template "v-bind:locations.sync"="locations")


            .container
                .row
                    .col-md-12
                        ul(class="app-home__principal-links list-unstyled")
                            +item("Devices", "devices.html","img/static/devices-icon.jpg")
                            +item("Smart life services", "services.html","img/static/services-icon.jpg")
                            +item("Assistance", "assistance.html","img/static/assistance-icon.jpg")

                br
                br
                br
                br
                .row
                    .col-md-12
                        #promotion-devices.carousel.slide(data-ride='carousel')
                            // Indicators
                            ol.carousel-indicators
                                li.active(data-target='#promotion-devices', data-slide-to='0')
                                li(data-target='#promotion-devices', data-slide-to='1')
                                li(data-target='#promotion-devices', data-slide-to='2')
                            // Wrapper for slides
                            .carousel-inner(role='listbox')
                                .item.active.container(v-for="device in promotionsDevice")
                                    .row
                                        .col-md-6
                                            img("v-bind:src"="device.img", alt='...')

                                        .col-md-6
                                            h2 {{device.title}}
                                                p {{device.description}}
                                                button Cjklkhlk

                            // Controls
                            a.left.carousel-control(href='#promotion-devices', role='button', data-slide='prev')
                                i.material-icons(aria-hidden='true') chevron_right
                                span.sr-only Previous
                            a.right.carousel-control(href='#promotion-devices', role='button', data-slide='next')
                                i.material-icons(aria-hidden='true') chevron_right
                                span.sr-only Next



                .row
                    h2 Enjoy our services at great price
                    .col-md-4(v-for="service in promotionsService")
                        .app-home__service-promotion.text-center
                            img("v-bind:src"="service.img")
                            h3 {{service.title}}
                            p {{service.description}}
                            button dfjdshf

                    .col-md-4
                        p Content

                    .col-md-4
                        p Content


                .row
                    h2 How can we help
                    .col-md-4
                        p Content

                    .col-md-4
                        p Content

                    .col-md-4
                        p Content

                .row
                    .col-md-4
                        p Content

                    .col-md-4
                        p Content

                    .col-md-4
                        p Content




        include ../includes/footer.jade