- var pageTitle="index"
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        index(inline-template "v-bind:locations.sync"="locations")
            //sub menu
            mixin item(name, link)
                li
                    a(href=link) #{name}

            ul#sub
                +item("Devices", "/devices.html")
                +item("Smart life services", "/smart-life.html")
                +item("Assistance", "/assistance.html")
            h2 Devices in promotion
            p images...
            h2 Smart life services
            p images...
            h2 How can we help you
            p images...


include ../includes/footer.jade