- var pageTitle="The group"
- var headMenuSelected='The group'

mixin sub-item(name, link)
    li&attributes(attributes)
        a(href=link data-toggle="tab") #{name}

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_group.jade
        include ../includes/breadcrumb.jade
        the-group(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                .row
                    .col-md-12
                        ul.list-inline.list-unstyled
                            li
                                span News
                            li
                                ul.list-inline.list-unstyled
                                    li
                                        | sadasdas
                                    li
                                        | sdasd

                .row
                    .col-md-12
                        div
                            h2
                                | sdjhdkjashdkjahskdjh


                .row
                    .col-md-12
                        div.text-center
                            h2 sajkjdlsajd
                            p ssddasdasd

                .row
                    .col-md-12
                        ul.list-inline.list-unstyled
                            li
                                div dasdasd
                            li
                                div sadasdas
                            li
                                div sdasdasd

                        ul.list-inline.list-unstyled
                            li
                                div dasdasd
                            li
                                div sadasdas
                            li
                                div sdasdasd







        include ../includes/footer.jade