- var pageTitle="Who we are | Projects"
- var superSectionSelected="Who we are"
- var mainMenuSelected='Projects'
include ../includes/who-we-are-breadcrumb.jade

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_who_we_are.jade

        who-we-are(inline-template "v-bind:locations.sync"="locations")
            div(class="container")

                .row
                    .col-md-12.app-who__page-label.text-center
                        h1 Projects
                +breadcrumb(['Who we are','Projects'],['/who-we-are.html','/projects.html'])
                br
                br
                .row
                    .col-md-12
                        div.app-who__manifesto.text-center
                            h1 Our projects
                            p.
                                Our projects are big and futuristic ideas that can radically change the way we consume technology and we develop relationships. We also creates simple but powerful initiatives that can benefit the community and boost innovation. Discover what we are working on
                br
                br
                .row.app-device__section.app-device__section--type-one
                    .col-md-6.text-center
                        img(src="img/static/CloudComputing_2.jpg", class="app-device__section-img")
                    .col-md-6
                        .app-device__section-text
                            h2 5G - A big leap forward
                            p.
                                5G is coming, bringing speeds over 50 times faster than 4G LTE. We’re setting the stage for the next evolution in wireless networking, from ultra-high definition video streaming to smartphones to download speeds measured in gigabits per second to apps that could only be conceived of a few years ago. We’re helping innovators prepare for even greater innovation for a connected world.

                .row.app-device__section
                    .col-md-6
                        .app-device__section-text.text-right
                            h2 Project mango
                            p.
                                We're trying to create the first modular smartphone in the planet so that users can update their communication experience without changing completely device.

                    .col-md-6.text-center
                        img(src="img/static/project-ara-theverge-2_1020.jpg", class="app-device__section-img")


                .row.app-device__section.app-device__section--type-one
                    .col-md-6.text-center
                        img(src="img/static/eduhackathon.jpg", class="app-device__section-img")
                    .col-md-6
                        .app-device__section-text
                            h2 Verizon annual hackaton
                            p.
                                Our annual hackaton brings young innovators and future engineerers toghether to empower great ideas and share knowledge and competencies. The winners of the competition will receive a prize and the change to be hired at Verizon



        include ../includes/footer.jade