- var pageTitle="Who we are"
- var headMenuSelected='Who we are'

mixin sub-item(name, link)
    li&attributes(attributes)
        a(href=link data-toggle="tab") #{name}

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_who_we_are.jade

        who-we-are(inline-template "v-bind:locations.sync"="locations")
            div(class="container")

                div
                    h1 Projects
                include ../includes/breadcrumb.jade
                .row
                    .col-md-12
                        div.app-who__manifesto.text-center
                            h1 Our projects
                            p lorem

                .row.app-device__section.app-device__section--type-one
                    .col-md-6.text-center
                        img(src="img/static/CloudComputing_2.jpg", class="app-device__section-img")
                    .col-md-6
                        .app-device__section-text
                            h2 Random
                            p sadasdas

                .row.app-device__section
                    .col-md-6
                        .app-device__section-text.text-right
                            h2 sadasd
                            p sadsad

                    .col-md-6.text-center
                        img(src="img/static/project-ara-theverge-2_1020.jpg", class="app-device__section-img")


                .row.app-device__section.app-device__section--type-one
                    .col-md-6.text-center
                        img(src="img/static/eduhackathon.jpg", class="app-device__section-img")
                    .col-md-6
                        .app-device__section-text
                            h2 sadasd
                            p sadsad



        include ../includes/footer.jade