- var pageTitle="Smart life services"
- var mainMenuSelected='Smart life services'
- var superSectionSelected="Consumer"

mixin services()
    .row(class="services",v-for="service in services")
        .col-md-12(style="position:relative")
            img("v-bind:src"="service.img", width="100%")
            div.app-services__text.text-center("v-bind:class"="{'app-services__text--centered' : (service.img_tag==='2'), 'app-services__text--right':(service.img_tag==='3')}")
                h2 {{service.name}}
                p {{service.short_description}}
                a("v-bind:href"="'service.html#'+service.id").app-button.app-button--big Discover


doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_dynamic.jade
        include ../includes/breadcrumb.jade
        services(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                br
                br
                ul.list-inline.list-unstyled.subsection-nav.subsection-nav--three.nav.nav-tabs
                    li(v-for="type in types")
                        a("v-bind:href"="type.url",data-toggle="tab").row
                            .col-md-12.col-xs-6.col-sm-12
                                img("v-bind:src"="type.img")
                            .col-md-12.col-xs-6.col-sm-12
                                p {{type.name}}

                br
                br
                div(class="error") {{ error }}
                div(class="tab-content")
                    div("v-bind:id"="escapeName(type.name)" class="tab-pane fade" v-for="type in types")
                        +services()
        include ../includes/footer.jade