- var pageTitle="Smart life services"
- var mainMenuSelected='Smart life services'

mixin services()
    div(class="services")
        ul
            li(v-for="service in services")
                a("v-bind:href"="'service.html#'+service.id") {{service.name}}
doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        include ../includes/breadcrumb.jade
        services(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                //sub menu
                ul(class="nav nav-tabs app-home__principal-links app-devices-nav")#sub
                    li(v-for="type in types" class="app-home__principal-link")
                        a("v-bind:href"="type.url" data-toggle="tab" class="app-home__principal-link--img-link")
                            img(src="img/static/devices.jpg" class="app-home__principal-link--img")

                        a("v-bind:href"="type.url" data-toggle="tab" class="app-home__principal-link--text") {{type.name}}
                div(class="error") {{ error }}
                div(class="tab-content")
                    div("v-bind:id"="escapeName(type.name)" class="tab-pane fade" v-for="type in types")
                        p {{type.name}}
                        +services()
        include ../includes/footer.jade