- var pageTitle="Service details"
- var mainMenuSelected='Smart life services'

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_static.jade
        service(inline-template "v-bind:locations.sync"="locations")
            div(class="error") {{ error }}
            p device info {{parsedData.name}}
        include ../includes/footer.jade