- var pageTitle="Smart life services"
- var mainMenuSelected='Smart life services'

mixin services()
    .row(class="services",v-for="service in services")
        .col-md-12(style="position:relative")
            img("v-bind:src"="service.img", width="100%")
            div.app-services__text.text-center("v-bind:class"="{'app-services__text--centered' : (service.img_tag==='2'), 'app-services__text--right':(service.img_tag==='3')}")
                h2 {{service.name}}
                p {{service.short_description}}
                a("v-bind:href"="'service.html#'+service.id").app-button.app-button--big Discover


doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_dynamic.jade
        include ../includes/breadcrumb.jade
        services(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                //sub menu
                    .row
                ul(class="nav nav-tabs app-home__principal-links app-devices-nav")#sub
                    li(v-for="type in types" class="app-home__principal-link app-home__principal-link--special")
                        a("v-bind:href"="type.url" data-toggle="tab" class="row app-home__principal-link--img-link")
                            .col-md-8.col-sm-8.col-xs-6.col-md-offset-2.col-sm-offset-2.col-xs-offset-0
                                img("v-bind:src"="type.img", class="app-home__principal-link--img" )
                            .col-md-8.col-sm-8.col-xs-6.col-md-offset-2.col-sm-offset-2.col-xs-offset-0
                                span(class="app-home__principal-link--text" style="padding:0") {{type.name}}
                div(class="error") {{ error }}
                div(class="tab-content")
                    div("v-bind:id"="escapeName(type.name)" class="tab-pane fade" v-for="type in types")
                        +services()
        include ../includes/footer.jade