- var pageTitle="Who we are ! Testimonials"
- var superSectionSelected="Who we are"
- var mainMenuSelected='Testimonials'
include ../includes/static-breadcrumb.jade

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_who_we_are.jade

        who-we-are(inline-template "v-bind:locations.sync"="locations")
            div(class="container")

                .row
                    .col-md-12.app-who__page-label.text-center
                        h1 Testimonials

                +breadcrumb(['Who we are', 'Testimonials'],['/who-we-are.html', '/testimonials.html'])

                .row
                    .col-md-12#fazio.app-testimonials__video
                        .app-testimonials__video-text
                            h3 Fabio Fazio
                            h2 "You can be everywhere with a click. You can explore entire new worlds and live neverending adventures!"
                            ul.list-unstyled.list-inline
                                li
                                    i.material-icons play_circle_outline
                                li
                                    span Play the video
                .row
                    .col-md-12#pif.app-testimonials__video
                        .app-testimonials__video-text
                            h3 Pif
                            h2 "The web is never the purpose but the medium!"
                            ul.list-unstyled.list-inline
                                li
                                    i.material-icons play_circle_outline
                                li
                                    span Play the video



                .row
                    .col-md-12#lee.app-testimonials__video
                        .app-testimonials__video-text
                            h3 Tim Berners Lee
                            h2 "The web is the present and will be also the future!"
                            ul.list-unstyled.list-inline
                                li
                                    i.material-icons play_circle_outline
                                li
                                    span Play the video



        include ../includes/footer.jade