- var pageTitle="Who we are ! Innovation"
- var superSectionSelected="Who we are"
- var mainMenuSelected='Innovation'
include ../includes/static-breadcrumb.jade

doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header_who_we_are.jade

        who-we-are(inline-template "v-bind:locations.sync"="locations")
            div(class="container")
                +breadcrumb(['Who we are', 'Innovation'],['who-we-are.html', 'who-we-are.html'])
                .row
                    .col-md-12.col-sm-12.col-xs-12.app-who__page-label.text-center
                            h1 Innovation

                br
                br
                .row
                    .col-md-12
                        div.app-who__manifesto.text-center
                            h1 Manifesto
                            p.
                                We design, build and operate global networks, information systems and mobile technologies that connect people, grow businesses and economies, and improve communities.
                                Technology inspires us. We believe that through our powerful technology, we can help transform any industry, leave a positive impact on any issue and create new possibilities for our customers and our world.

                br
                br
                h1.text-center How we innovate
                br
                br
                .row.app-device__section.app-device__section--type-one
                        .col-md-6.text-center
                            img(src="img/static/in_1.jpg", class="app-device__section-img")
                        .col-md-6
                            .app-device__section-text
                                h2 Attention to the customer
                                p.
                                    Our mission is to make people communicate with each other, is to enrich their lives and their relationships. We accomplish that by an extreme care to the customer since the customer is a precious value that let us innovate and contribute to the wealth of everyone

                .row.app-device__section
                    .col-md-6
                        .app-device__section-text.text-right
                            h2 Continuos reasearch and investments
                            p.
                                We invest in research and development more than anyone else in the telecommunication sector. We think that new and better technology can improve everyone and the value that we bring to the society.

                    .col-md-6.text-center
                        img(src="img/static/1441744643213.png", class="app-device__section-img")


                .row.app-device__section.app-device__section--type-one
                    .col-md-6.text-center
                        img(src="img/static/in_3.jpg", class="app-device__section-img")
                    .col-md-6
                        .app-device__section-text
                            h2 Quality of work
                            p.
                                We look to tomorrow every day. That’s why we’re committed to engaging the sharpest minds, empowering our team, and making a difference with what we do, what we create and how we impact people’s lives and communities. We equip our employees with valuable training and resources that help them make dreams come to life. There’s limitless creativity and opportunity to drive the next generation of technology.



        include ../includes/footer.jade