.app-device
  &__head
    &-img
      max-width: 300px
      margin-right: 30px

    &-desc
      max-width: 300px
      margin-bottom: 30px
      line-height: 1.5
      font-size: 1.1rem
      color: $app-text-gray

    &-text
      @media(max-width: 768px)
        margin-top: 30px

    &-miniatures
      margin-top: 22.5px
      li
        width: 60px
        height: 80px
        padding: 5px
        border: 1px solid $app-dark-gray
        vertical-align: top
      img
        max-width: 100%
        max-height: 100%

    &-colors
      vertical-align: top
      margin-top: 4px
      margin-left: 15px
    &-price
      margin: 0
      margin-bottom: 20px

      color: $app-red
      font-weight: bold

    &-links
      margin-top: 30px
      h5
        text-transform: uppercase
        color: $app-red

      p
        font-size: 1.1rem
        cursor: pointer


  &__content-nav
    color: $app-gray
    font-size: 1.3rem
    font-weight: bold
    border-bottom: 1px solid #ddd


    li
      margin: 0 30px

      a
        padding: 15px 30px
        display: block

      @media(max-width: 500px)
        margin: 0
        padding: 15px 20px
        font-size: 1.1rem

      &:hover
        border-bottom: 2px solid $app-red


    li.active
      color: $app-black
      border-bottom: 2px solid $app-red

  &__img-container
    width: 300px
    height: 400px
    margin: 0 auto
    position: relative

    img
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      max-width: 100%
      max-height: 100%

  &__section
    padding: 40px
    height: 500px

    >div
      position: relative
      height: 100%

    @media (max-width: 768px)
      padding: 20px
      height: auto

      >div
        height: auto

    &--type-one
      background-color: $app-light-gray
    &--type-two
      background-color: $app-dark-gray


    &-img
      max-width: 500px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

      &--stick-bottom
        margin-bottom: -40px

      @media(max-width: 768px)
        max-width: 100%
        position: inherit
        top: auto
        left: auto
        transform: none


    &-text
      position: absolute
      width: 80%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

      p
        font-size: 1.2rem
        line-height: 1.7
        color: $app-text-gray

      @media(max-width: 768px)
        padding: 15px 0
        max-width: none
        position: inherit
        top: auto
        left: auto
        transform: none
        margin: 0 auto
        text-align: center


        h2
          font-size: 25px


        p
          font-size: 1rem
          line-height: 1.5




  &__specs

    &-heading
      margin: 30px 0


    &-table
      td
        width: 50%
        padding: 20px 0 !important

