.app-devices__filters
  padding: 10px 0
  border-top: 2px solid $app-dark-gray
  border-bottom: 2px solid $app-dark-gray
  text-transform: uppercase

  ul
    li
      margin: 0 15px
  p
    margin: 0
