.app-group
  &__news
    background-color: $app-light-gray
    height: 100px


  &__news-label
    position: relative

    h3
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,50%)


  &__hero
    position: relative
    height: 500px
    background: url('../img/static/hero.jpg') no-repeat center
    background-size: cover

    h2
      position: absolute
      width: 80%
      max-width: 600px
      bottom: 10%
      left: 50%
      color: white
      transform: translateX(-50%)
      line-height: 1.2


  &__group-desc
    width: 90%
    max-width: 600px
    margin: 60px auto

    p
      font-size: 1.2rem
      color: $app-text-gray
      line-height: 1.5

  &__features
    margin-bottom: 40px
    li
      vertical-align: top
      margin-right: 30px

      &:last-child
        margin-right: 0

  &__feature
    width: 200px
    padding: 30px
    background-color: $app-light-gray

    img
      margin-bottom: 15px
      width: 70px
      height: 70px

    p
      font-size: 1.2rem
    p:last-child
      font-weight: bold



.app-business
  &__heading-section
    width: 90%
    max-width: 600px
    margin: 0 auto

    h2
      margin-bottom: 30px
    p
      font-size: 1.2rem
      line-height: 1.5


  &__section-padded
    padding: 60px 0

  &__section-colored
    background-color: $app-light-gray

  &__feature
    width: 200px
    padding: 30px
    background-color: $app-light-gray
    img
      width: 60px
      height: 60px
      margin-bottom: 30px

    p
      font-size: 1.2rem

  &__market-content
    width: 90%
    max-width: 600px
    margin: 0 auto



    table
      margin-top: 30px
      width: 100%
      background-color: white

      tr
        border-bottom: 1px solid $app-dark-gray

        &:last-child
          border-bottom: 0

      th
        border-bottom: 1px solid $app-text-gray
      th, td
        padding: 15px
        text-align: center


.app-investors
  &__data, &__balance
    width: 90%
    max-width: 600px
    background-color: white
    margin: 0 auto
    margin-top: 30px

    td
      font-size: 1.2rem
      padding: 15px

    tr
      border-bottom: 1px solid $app-dark-gray

      &:last-child
        border-bottom: none

    i
      color: $app-text-gray
      cursor: pointer

      &:hover
        color: $app-red

