.app-assistance
  &__frequent
    h4
      width: 80%
      max-width: 800px
      margin: 30px auto
    table
      background-color: $app-light-gray
      width: 80%
      max-width: 800px
      margin: 0 auto

      td

        width: 33.3%




    &-container
      width: 80%
      max-width: 800px
      margin: 30px auto

      .row
        >div
          text-align: center
          background-color: $app-dark-gray
          border-top: 2px solid white
          border-right: 2px solid white

          a

            display: block
            font-size: 1.2rem
            color: $app-text-gray
            text-align: center
            margin: 0 -15px
            padding: 10px
            height: 66px

            transition: all 50ms linear

            &:hover
              background-color: white
              box-shadow: 0px 2px 15px rgba(0,0,0,.2)
              font-weight: bold

  &__list-services
    margin-top: 30px
    li
      border-bottom: 1px solid $app-dark-gray
      &:last-child
        border-bottom: none
      a
        display: block
        width: 100%
        padding: 15px
        font-size: 1.2rem
        background-color: $app-light-gray
        color: $app-text-gray
        transition: all 50ms linear
        border-bottom: 1px solid $app-dark-gray

        i
          float: right
          font-size: 36px
          margin-top: -5px

        &:hover
          background-color: white
          box-shadow: 0px 2px 15px rgba(0,0,0,.2)
          font-weight: bold




  &__content
    ol
      margin-bottom: 30px
      li
        padding: 10px
        font-size: 1.2rem

    p
      font-size: 1.2rem

      &:last-child
        margin-top: 40px

      @media(max-width: 768px)
        font-size: 1.1rem


    h1
      font-size: 25px
      margin-bottom: 22.5px

    h2
      font-size: 20px

    img
      margin: 30px auto
      max-width: 100%


    .img
      img
        width: 400px
        display: block

        @media (max-width: 400px)
          width: 100%

  &__heading
    >*
      display: inline-block
    img
      margin-right: 15px
      width: 50px
      height: 50px
#related-devices
  background-color: white !important
  h3
    padding: 15px 0 30px 0
    border-bottom: 1px solid $app-dark-gray

  @media (max-width: 768px)
    .item
      padding: 20px 0

      .row
        >div
          margin-bottom: 30px








