.app-devices-filters
  padding: 15px
  border: 1px solid black

  .app-devices-filters__section
    padding: 15px 0
    border-bottom: 1px solid black

    &-content
      padding-left: 10px


    &-title
      margin-top: 0
      font-weight: bold

    &:first-child
      padding-top: 0

    &:last-child
      padding-bottom: 0
      border-bottom: none
