include ./config.jade
head
    title= pageTitle
    //css
    link(href="css/app-less.css", rel="stylesheet")
    link(href="css/app-sass.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
